{{ define "main" }}
{{ with .Title -}}<h1>{{- . -}}</h1>{{- end }}
{{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}

<ul class="post-list">
  {{ range where .Paginator.Pages "Type" "!=" "page" }}
  <li>
    <article>
      <img src="{{ .Params.banner | absURL }}" ;>
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div>
        {{ if .Params.Summary }}
        {{ .Params.Summary | markdownify }}
        {{ else }}
        {{ .Summary | plainify | strings.Truncate 200 }}
        {{ end }}
      </div>

      <span class="posts-list-item-description">
        {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
        {{ .PublishDate.Format "Jan 2, 2006" }}
        <span class="posts-list-item-separator">-</span>
        {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
        {{ .ReadingTime }} min read
      </span>
    </article>
  </li>
  {{ end }}
</ul>

{{ partial "pagination.html" $ }}
{{ end }}