    /* arcicle list */

    ul.post-list {
      list-style: none;
      line-height: 1.2;
      padding-inline-start: 0px;
      margin: 0 auto;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(MIN(17rem, 100%), 1fr));
    }


    .post-list li {
      border-radius: 0.5rem;
      box-shadow: 0 1rem 2rem -0rem rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }

    .post-list li img {
      aspect-ratio: 16/9;
      max-height: 30vh;
      width: 100%;
      object-fit: cover;
    }

    .post-list h1 {
      margin-block-start: .2rem;
      margin-block-end: .2rem;
    }

    .post-list li article {
      padding: 0.5rem;
    }